body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgba(128, 128, 128, 0.144);
  margin: 0;
  padding: 0;
  text-size-adjust: auto;
  transition: .5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: indianred;
}

.site-header {
  padding-top: 1%;
}
a:focus{
  outline: 4px solid black;
}

.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  top: -3em;
  background-color: rgba(0, 0, 0, 0.664);
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}
.skip-links a:focus{
  top: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.banner {
  padding-top: 1%;
}
.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  
  text-decoration: none;
  font-size: 1.25rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}
/* Java Script */
.button {
  float: right;
}
.show {
  visibility: hidden;
  height: 0;
}
.black {
  background-color: black;
  color: whitesmoke;
  transition:  0.5s;
  animation: black 0.5s;
}
.themecontainer {
  position: fixed;
  top: 10%;
  left: 5%;
}
.theme {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5%;
}
#dark {
  background-color: black;
}
#salmon {
  background-color: salmon;
}
#yellow {
  background-color: wheat;
}
/* Class for colour changing */
.darktheme {
  background-color: black;
  color: whitesmoke;
}
.yellowtheme {
  background-color: wheat;
  color: black;
}
.salmontheme {
  background-color: salmon;
  color: black;
} 
/* Video embedding */
#btn-video {
  padding: 1% 2%;
}
.videof {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video {
  width: 100%;
  display: flex;
  justify-content: center;
}
.videof > label {
  display: inline-block;
}
#video-name {
  width: 100%;
}